@import 'tailwindcss';

:root {
  --default-light: #f3f4f6;
  --default-dark: #030712;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--default-dark);
  color: var(--default-light);
  font-family:
    'Inter var experimental',
    'Inter var',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}
